.nothing__main-content {
    display: flex;
    align-items: center;
    background-color: $primary;
    color: white;
    justify-content: center;
    height: 93vh;
    flex-direction: column;

    p {
        text-align: center;
    }
   
}